@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');

/*todas las etiquetas body, p,etc*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

html{
    scroll-behavior: smooth;
}

/* clase --> .  */
/* id --> #   */
/* nombre del etiqueta*/

#inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#inicio header{
    width: 100%;
}
#inicio header .contenido-header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    position: relative;
}


#inicio header .contenido-header .logo{
    color: #ff8f46;
    font-size: 22px;
}

#inicio header .contenido-header nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#inicio header .contenido-header nav ul {
    display: flex;
    list-style: none;
}


#inicio header .contenido-header nav ul li{
    text-align: center;
}


#inicio header .contenido-header nav ul li a{
    display: block;
    color: #a8a8a8;
    margin: 0px 20px;
    text-decoration: none;
}


#inicio header .contenido-header nav ul li a i{
    display: block;
    color: #a8a8a8;
    margin-bottom: 10px;

}


#inicio header .contenido-header nav ul li:hover i{
    color: #ff8f46;
}


#inicio header .contenido-header .social a{
display: inline-block;
background-color: #ff8f46;
text-decoration: none;
color: #fff;
padding: 10px 20px;
border-radius: 50px;
}

#inicio header .contenido-header .social > i
{
    display: inline-block;
    color: #a8a8a8;
    margin-left: 20px;
}

.nav-responsive{
    display: none;
    font-size: 25px;
    color: #a8a8a8;
}

#inicio .carrusel{
    position: relative;
    height: 100%;
}

#inicio .carrusel .info
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    text-align: center;
    color: #fff;
}

#inicio .carrusel .info h2{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Dancing Script';
}

#inicio .carrusel .info button{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    background-color: #ff8f46;
    color: #fff;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}


#inicio .gallery{
    width: 100%;
    height: 100%;
}


#inicio .gallery-cell{
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

#inicio .gallery-cell img{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/*fin header, inicio, nav*/

/*  sabores */



/* platos */
/* comentarios*/
/* contactos*/
